/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin du reset */
/*************************************************/



body{
	font-family: 'Play', sans-serif;
	background-color:rgba(0,0,0,0.1);
}

/************  HEADER & FOOTER ************/

#head{
	background-color:#000;
	color:#fff;
	width: 100%;
	height: 100px;
	text-align: center;
	padding: 70px auto;
	margin: auto;
}


#head a{

	color:#c0392b;
}

#head a:hover{
	color:#fff;
	text-decoration: none;
	text-transform:uppercase;
	/*font-weight: 700;*/

}

#head h1{
	display:inline-block;
	margin-top: 20px;
	font-weight: bold;
	float: left;
	font-size: 40px;
}

h1 a{
	font-family: 'Play', sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	color: #c0392b;
	float:left;
}

h1:hover a{
	font-family: 'Play', sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	color: #fff;
}

span{
	color: #fff;
	font-size: 1em;
}

h1:hover span{
	color:#c0392b;
}

#connexion{

	float:right;
	padding-top:40px;
	padding-right:20px;
}
#connexion a.log{
	color:red;
	background-color:black;


}

#connexion a.log:hover{
	color:#fff;
	background-color:black;
}

#connexion a{
	background-color: #c0392b;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	margin-right: 10px;
	border-radius:5px;
}



#logostaque{
	float:left;
}

#connexion a:hover{
	background-color: #fff;
	color: #c0392b;
	padding: 10px;
	text-decoration: none;
	margin-right: 10px;
}

#footer{
	background-color: black;
	margin-top:80px;
	color:#fff;
	width: 100%;
	height:80px;
	bottom:0;
}

#footer a{
	color:white;
	text-decoration: none;
	display:block;
	float:right;
	padding-right:10px;
	padding-top:70px;
}

footer h3{
	float:left;
	margin-left:400px;
	margin-top:-10px;

}

.links{
	float:left;
	padding-left:25px;
	/*margin-top:-50px;  afficher les lien en haut du footer*/
	margin-top:-9px;
}

.socialicon{
float: right;
padding-top: -10px;
margin-top: -10px;
/*padding-left: 800px;*/
}


#logostack{

	display:block;
	float:left;
}

.espace{
	background-color: transparent;
	padding-left:5px;
}


/************  NAVIGATION ************/

.secondcontent{
/*	background-color:rgba(5,5,5,0.5); */
	height:50px;
	width:1000px;
	margin:auto;
	text-align: center;
	padding: 10px;

}

.secondcontent i{
	float:left;
	color: #fff;
	background-color: #000;
	padding-right: 10px;
	text-decoration: none;

}

.secondcontent a{
	float:left;
	background-color: #000;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	margin-right: 10px;
	border-radius:5px;
}


#searchbar a {
	transition: background .5s;
}

#searchbar input[type=text] {
float: right;
border: 0;
height: 30px;
width: 200px;
padding: 5px;
outline: 0;
text-align: left;
transition: width .3s;
margin-top: 2px;
}
#searchbar input[type=text]:focus {
	width: 250px;
}
#searchbar input[type=text]::-webkit-input-placeholder {
	font-style: italic;
}
#searchbar input[type=text]:-ms-input-placeholder {
	font-style: italic;
}
#searchbar input[type=text]:-moz-placeholder {
	font-style: italic;
}
#searchbar input[type=text]::-moz-placeholder {
	font-style: italic;
}
#searchbar input[type=text]:focus::-webkit-input-placeholder {
	opacity: 0.5;
}
#searchbar input[type=text]:focus:-ms-input-placeholder {
	opacity: 0.5;
}
#searchbar input[type=text]:focus:-moz-placeholder {
	opacity: 0.5;
}
#searchbar input[type=text]:focus::-moz-placeholder {
	opacity: 0.5;
}

#searchbar input[type=submit] {
	background: url(../img/loupe.png) no-repeat center;
	border: 0;
	float: right;
	width: 40px;
	height: 40px;
	position: relative;
	left: -50px;
	top: 2px;
}

/************  CONTENU PRINCIPAL ************/

.main_index_questions{

	width: 1000px;
	margin-left: auto;
	margin-top: 30px;
	margin-right:auto;
	margin-bottom: 50px;

}
.main_index_questions h1{

	font-size: 1.5em;
	text-transform: uppercase;

}

.mainContentQuestions{
	/* clear: float; */
	width: 1000px;
	margin-top: 30px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 50px;
	min-height: 600px;

}

.mainContentQuestions h1{
	font-size: 1.5em;
	text-transform: uppercase;

}


.maindetail{
	clear:both;
	float:left;
	width: 50%;
	height: 10%;
}

.topcontent{
	text-align: justify;
	width: 600px;
	height: 250px;
	margin:auto;
	padding-top: 30px;
	font-weight: 700;
	line-height: 30px;
	font-size: 1em;
	padding: 20px;
}

.topcontent h1:first-child{
	margin :auto;
	padding-top: 50px;
	border:none;
	font-size: 2em;
	font-weight: 700;
	padding-left:10px;
}


.vote, .answer, .vue{
	width: 70px;
	height: 70px;
	float: left;
	border: 1px solid #ccc;
	padding-bottom: 0;
	margin-top: 20px;
	margin-left: 5px;
	font-size: 0.7em;
	font-weight: 700;
	text-align: center;
	color: #fff;
}

.vote p, .answer p, .vue p{
	margin-top: 15px;
	font-weight: 700;
	}

.vote p:first-child, .answer p:first-child, .vue p:first-child{
	font-size: 1.5em;
}


.vote{
	background-color: #0c9;
}

.answer{
	background-color: #c63;
}

.vue{
	margin-right: 25px;
	background-color: #69c;
}

.score{
	width: 50px;
	height: 50px;
	float: right;
	border: 1px solid #ccc;
	padding-bottom: 0;
	margin-top: 20px;
	margin-left: 5px;
	text-align: center;
	color: #fff;
	margin-right: 25px;
	background-color: #88c;
}

.score p{
	font-size: 1em;
	margin-top: 10px;
}


.keywords{
	width: 100px;
	float: left;
}

.questions{
	display: block;
	width: 1000px;
	height: 100px;
	padding-top: 20px;
	padding-left: 50px;
	/*border-bottom: 1px solid #ccc;*/

}
.questions p a{
	text-decoration: none;
	color: #6495ED;
	font-weight: bold;

}
#tag {
	margin-top: 25px;
	margin-left: 30px;
}

.keyword{
	border: 1px solid #ccc;
	color: #3e6d8e;
	font-weight: bold;
	display: inline-block;
	float: left;
	margin-left: 9px;
	padding: 4px;
	background-color: #e0eaf1;
	text-align: center;
	text-transform: uppercase;
}

#pagination{
	margin: auto;
	padding: 30px 10px 10px 10px;
	text-align: center;

}

#pagination a{
	text-decoration: none;
}

.questionDetail, .reponseDetail, .commentaireDetail {
	width:1000px;
	margin-left:0;
	padding-bottom: 30px;
}

.reponseDetail h3{
	text-transform: uppercase;
	color: rgba(0,0,0,0.8);
	font-size: 0.5em;
} 

/*.questionDetail h3{
	background-color: rgba(102,255,204,0.4);
}

.reponseDetail h4{
	background-color: rgba(102,51,153,0.4);
} 

.commentaireDetail h5 {
	background-color: rgba(153,51,153,0.4);
} */

.questionDetail h3{
	clear: both;
	font-size: 2em;
	font-weight: 700;
	padding: 5px;
	
}

.questionDetail h4{
	color: rgba(0,0,0,0.6);
	clear: both;
	font-size: 1em;
	font-weight: 700;
	padding-top: 10px;
	text-transform: uppercase;
}

.questionDetail h3:nth-child(2){
	clear: both;
	font-size: 1.5em;
	font-weight: 700;
	padding: 5px;
	text-align: right;
}

#voter{
	color: #600;
	padding: 15px 0;
	font-weight: 700;
}


.contenu{
	padding: 15px;
}

.contenu h2{
	clear: both;
	padding: 25px 0;
}

#identification {

	float: right;
}

#titreQuest{
	font-weight: 700;
	color: #444;
	text-decoration: none;
}

#titreQuest:hover{
	color: #000;

}

.horsConnect{
	font-weight: 700;
	color: #c0392b;
	margin: 50px 0;

}


/************  FORMULAIRES ************/
.input_field{
	padding-top: 80px;
}


#askQuestions_form{

	width: 1000px;
	margin: 30px auto;
	background-color: rgba(255,255,255,0.8);
	padding:10px;
	border-radius:10px;
	/*margin-bottom:100px;*/
}


#login_form, #register_form {
	width: 1000px;
	margin: 30px auto;
	background-color: rgba(255,255,255,0.8);
	padding:10px;
	margin-bottom:300px;

}

form h3{
	border-radius:10px;
margin-bottom: 20px;
font-size: 1.5em;
font-weight: 700;
text-align: center;
background-color: rgba(0,0,0,0.8);
color: white;
height: 71px;
padding-top: 25px;
margin-top:5px;
}

.field_container {
    margin: 5px 0;

}

.field_container input[type=text], input[type=email], input[type=password] {
    background: none;
    border: 1px solid #888;
    color: #000;
    padding: 2px 6px;
    height: 40px;
    line-height: 30px;
    width: 50%;
}

#login_form input[type=submit],
#register_form input[type=submit],
#askQuestions_form input[type=submit]{
	background-color: #c0392b;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	border: 0;
	margin-right: 30px;
	border-radius:10px;
}


.field_container input[type=file]{
	display: inline;
}

.field_container label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin: 10px 15px 0 0;
    vertical-align: top;
}

#askQuestions {
	width: 100%;
    margin: 5px 0;
}

#askQuestions .field_container input[type=text]{
	background: none;
    border: 1px solid #888;
    color: #000;
    padding: 2px 6px;
    height: 40px;
    line-height: 30px;
    width: 20%;
}

textarea{
	height: 135px;
	width: 70%;
	
}

#askQuestions .field_container label{
	display: inline-block;
    width: 300px;
    text-align: right;
    margin: 10px 15px 0 0;
    vertical-align: top;

}

#mdp{

	margin-left: 50%;
}

/*******************  EDIT PROFILE  ******************************/
#edit-image{
	top:20%;
position: absolute;
left: 68%;
overflow: hidden;

}



#edit-image a{
	font-size:75%;
	display:block;
}

#edit-image img{

	height:100%;
	width:35%;
}


.profilemenu{
	padding: 25px;
}


.info{

padding-top: 5%;
padding-left: 25%;
padding-bottom:161px;
}

.info h1{

font-size: 25px;
padding-bottom: 25px;
text-transform: uppercase;
}

.info label{

	padding-bottom:3%;
	font-weight: 700;
	color:#2980b9;
}

#profile-image{



position:absolute;
right: 5%;
top: 10%;
border: 1px solid rgba(0,0,0,0.2);
}


#fiche{


height: 500px;
width: 400px;

}

#fiche label{


	padding-bottom:2px;

}

#fiche h1{
	text-align: center;
	font-size: 20px;
}








.mainContentProfile{
	margin-top:50px;
padding-left: 15px;
padding-right: 125px;
background-color: white;
height: 700px;
width: 800px;
position: relative;
left: 24%;
background-color: #fff;
box-shadow: 14px 7px 27px 3px rgba(0,0,0,0.29);
border-radius:10px;
}

.space{
	height:50px;
}

#edit{
padding-top: 30px;
padding-left: 15px;
}


.vote p:nth-child(2){
	margin-top:5px;
}


.mainContent{

	position:relative;
}


#edit a{

background-color: #2980b9;
color: white;
display: block;
width: 190px;
height: 30px;
text-align: center;
padding-top: 10px;
font-size:16px;
border:1px solid #fff;
text-indent: 5px;
border-radius:5px;
}

#edit a:hover{

	color:#fff;
	font-size:17px;
	font-weight:700;
	text-decoration:none;

	;

}

.color{

	color: #c0392b;
}





/************  MEDIA QUERIES ************/

@media screen and (max-width:1600px){

.mainContentProfile{

height: 1000px;
padding-bottom:25px;
}

}